Filter [Greengroove's Loot Filter Scripts]

Version [3.14.0]
LastUpdate [April 16, 2021]
PoEVersion [3.14.x]
ForumThread [https://www.pathofexile.com/forum/view-thread/1566921]

#   This file is only used to provide information to Filterblast's website.

BlockGroups on
SmartStyles on
DisabledBlocks wrapped

Presets

#	Preset "Leveling" [GG Leveling] [https://raw.githubusercontent.com/Greengroove/GG-LootFilter/master/Filter/GG%20leveling.filter]
#	Preset "Leveling CASTER" [GG Leveling CASTER] [https://raw.githubusercontent.com/Greengroove/GG-LootFilter/master/Filter/GG%20leveling%20CASTER.filter]
	Preset "Endgame" DEFAULT [GG Endgame] [https://raw.githubusercontent.com/Greengroove/GG-LootFilter/master/Filter/GG%20endgame.filter]
#	Preset "MF" [GG MF] [https://raw.githubusercontent.com/Greengroove/GG-LootFilter/master/Filter/GG%20MF.filter] 
    
ColorThemes filtertheme

    Theme "Amethyst" [GG Amethyst] [https://raw.githubusercontent.com/Greengroove/GG-LootFilter/master/Color%20Themes/GG%20Amethyst.filtertheme]
    Theme "Atlantisite" [GG Atlantisite] [https://raw.githubusercontent.com/Greengroove/GG-LootFilter/master/Color%20Themes/GG%20Atlantisite.filtertheme]
	Theme "Bloodstone" [GG Bloodstone] [https://raw.githubusercontent.com/Greengroove/GG-LootFilter/master/Color%20Themes/GG%20Bloodstone.filtertheme]
	Theme "Game like" [GG Game like] [https://raw.githubusercontent.com/Greengroove/GG-LootFilter/master/Color%20Themes/GG%20Game%20like.filtertheme]
	Theme "Jade" [GG Jade] [https://raw.githubusercontent.com/Greengroove/GG-LootFilter/master/Color%20Themes/GG%20Jade.filtertheme]
	Theme "Zoisite" DEFAULT [GG Zoisite] [https://raw.githubusercontent.com/Greengroove/GG-LootFilter/master/Color%20Themes/GG%20Zoisite.filtertheme]

SoundThemes

	Theme "Default sound set" DEFAULT [Default sound set] [https://raw.githubusercontent.com/Greengroove/GG-LootFilter/master/Sound%20Themes/GG%20Default%20sound%20set.filter]
	Theme "Shaper sound set" [Shaper sound set] [https://raw.githubusercontent.com/Greengroove/GG-LootFilter/master/Sound%20Themes/GG%20Shaper%20sound%20set.filter]
	Theme "Oriath sound set" [Oriath sound set] [https://raw.githubusercontent.com/Greengroove/GG-LootFilter/master/Sound%20Themes/GG%20Oriath%20sound%20set.filter]
	Theme "Rotation sound set" [Rotation sound set] [https://raw.githubusercontent.com/Greengroove/GG-LootFilter/master/Sound%20Themes/GG%20Rotation%20sound%20set.filter]

#   NOTES:

#   Preset "Name of preset" DEFAULT [FileName] [Url to raw file]

#   >  DEFAULT - Optional parameter and should be used only on one preset. If you put it for few presets, only last preset with this parameter will be selected by default at FilterBlast UI.
#   > [FileName] - Filter file for this preset should be named. This is the filename of file when user clicks "download", but also used to store the file at FilterBlast server. Don't add ".filter" extension.
#   > [Url to raw file] - Links to raw files should always be at the "Master" branch.